# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js build output
.next/
out/
dist/

# Production build (if using custom scripts)
build/

# Env files (keep secrets out of git)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# OS-specific (macOS)
.DS_Store
.AppleDouble
.LSOverride


# Misc
*.swp
*.swo
